body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  min-width: 600px;
  height: auto;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.header-content{
  color: #45a049;
}

.header-words{
  color: #45a049;
}

.total-words{
  font-size: 38px;
  font-weight: bold;
}

input[type="file"] {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.refresh-button{
  background-color: #45a049;
  color: white;
  padding: 10px 20px;
  border: none;
}

h2 {
  margin-top: 20px;
}

p {
  white-space: pre-line;
}
